In [1]:
###To check whether patient as Heart Disease or Not.

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("heart.csv")
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [6]:
df.HeartDisease.value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [7]:
dummies = pd.get_dummies(df['Sex'])
dummies

     F  M
0    0  1
1    1  0
2    0  1
3    1  0
4    0  1
..  .. ..
913  0  1
914  0  1
915  0  1
916  1  0
917  0  1

[918 rows x 2 columns]

In [8]:
merged=pd.concat([df,dummies],axis='columns')
merged

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,F,M
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,1,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,0,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,1,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0,1

In [9]:
dummies = pd.get_dummies(df['ChestPainType'])
dummies

     ASY  ATA  NAP  TA
0      0    1    0   0
1      0    0    1   0
2      0    1    0   0
3      1    0    0   0
4      0    0    1   0
..   ...  ...  ...  ..
913    0    0    0   1
914    1    0    0   0
915    1    0    0   0
916    0    1    0   0
917    0    0    1   0

[918 rows x 4 columns]

In [10]:
merged=pd.concat([df,dummies],axis='columns')
merged

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0,1,0,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,0,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0,1,0,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,1,0,0,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0,0,0,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,1,0,0,0
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,1,0,0,0
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0,1,0,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0,0,1,0

In [11]:
final=merged.drop(['ChestPainType','RestingECG','ExerciseAngina','MaxHR','FastingBS'],axis='columns')
final

,Age,Sex,RestingBP,Cholesterol,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA
0,40,M,140,289,0.0,Up,0,0,1,0,0
1,49,F,160,180,1.0,Flat,1,0,0,1,0
2,37,M,130,283,0.0,Up,0,0,1,0,0
3,48,F,138,214,1.5,Flat,1,1,0,0,0
4,54,M,150,195,0.0,Up,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,110,264,1.2,Flat,1,0,0,0,1
914,68,M,144,193,3.4,Flat,1,1,0,0,0
915,57,M,130,131,1.2,Flat,1,1,0,0,0
916,57,F,130,236,0.0,Flat,1,0,1,0,0
917,38,M,138,175,0.0,Up,0,0,0,1,0

In [12]:
du=pd.get_dummies(df.Sex)
du

     F  M
0    0  1
1    1  0
2    0  1
3    1  0
4    0  1
..  .. ..
913  0  1
914  0  1
915  0  1
916  1  0
917  0  1

[918 rows x 2 columns]

In [13]:
me=pd.concat([final,du],axis='columns')
me

,Age,Sex,RestingBP,Cholesterol,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,F,M
0,40,M,140,289,0.0,Up,0,0,1,0,0,0,1
1,49,F,160,180,1.0,Flat,1,0,0,1,0,1,0
2,37,M,130,283,0.0,Up,0,0,1,0,0,0,1
3,48,F,138,214,1.5,Flat,1,1,0,0,0,1,0
4,54,M,150,195,0.0,Up,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,110,264,1.2,Flat,1,0,0,0,1,0,1
914,68,M,144,193,3.4,Flat,1,1,0,0,0,0,1
915,57,M,130,131,1.2,Flat,1,1,0,0,0,0,1
916,57,F,130,236,0.0,Flat,1,0,1,0,0,1,0
917,38,M,138,175,0.0,Up,0,0,0,1,0,0,1

In [14]:
d=pd.get_dummies(me.ST_Slope)
d

     Down  Flat  Up
0       0     0   1
1       0     1   0
2       0     0   1
3       0     1   0
4       0     0   1
..    ...   ...  ..
913     0     1   0
914     0     1   0
915     0     1   0
916     0     1   0
917     0     0   1

[918 rows x 3 columns]

In [15]:
m=pd.concat([me,d],axis='columns')
m

,Age,Sex,RestingBP,Cholesterol,Oldpeak,ST_Slope,HeartDisease,ASY,ATA,NAP,TA,F,M,Down,Flat,Up
0,40,M,140,289,0.0,Up,0,0,1,0,0,0,1,0,0,1
1,49,F,160,180,1.0,Flat,1,0,0,1,0,1,0,0,1,0
2,37,M,130,283,0.0,Up,0,0,1,0,0,0,1,0,0,1
3,48,F,138,214,1.5,Flat,1,1,0,0,0,1,0,0,1,0
4,54,M,150,195,0.0,Up,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,110,264,1.2,Flat,1,0,0,0,1,0,1,0,1,0
914,68,M,144,193,3.4,Flat,1,1,0,0,0,0,1,0,1,0
915,57,M,130,131,1.2,Flat,1,1,0,0,0,0,1,0,1,0
916,57,F,130,236,0.0,Flat,1,0,1,0,0,1,0,0,1,0
917,38,M,138,175,0.0,Up,0,0,0,1,0,0,1,0,0,1

In [16]:
End=m.drop(['Sex','ST_Slope'],axis='columns')
End

,Age,RestingBP,Cholesterol,Oldpeak,HeartDisease,ASY,ATA,NAP,TA,F,M,Down,Flat,Up
0,40,140,289,0.0,0,0,1,0,0,0,1,0,0,1
1,49,160,180,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0.0,0,0,1,0,0,0,1,0,0,1
3,48,138,214,1.5,1,1,0,0,0,1,0,0,1,0
4,54,150,195,0.0,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,1.2,1,0,0,0,1,0,1,0,1,0
914,68,144,193,3.4,1,1,0,0,0,0,1,0,1,0
915,57,130,131,1.2,1,1,0,0,0,0,1,0,1,0
916,57,130,236,0.0,1,0,1,0,0,1,0,0,1,0
917,38,138,175,0.0,0,0,0,1,0,0,1,0,0,1

In [17]:
End.M=End.M.fillna("0")

In [18]:
X = End.drop("HeartDisease",axis="columns")
y = End.HeartDisease

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [20]:
y_train.value_counts()

1    395
0    339
Name: HeartDisease, dtype: int64

In [21]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [22]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [23]:
model.score(X_test,y_test)

0.8260869565217391

In [24]:
X

,Age,RestingBP,Cholesterol,Oldpeak,ASY,ATA,NAP,TA,F,M,Down,Flat,Up
0,40,140,289,0.0,0,1,0,0,0,1,0,0,1
1,49,160,180,1.0,0,0,1,0,1,0,0,1,0
2,37,130,283,0.0,0,1,0,0,0,1,0,0,1
3,48,138,214,1.5,1,0,0,0,1,0,0,1,0
4,54,150,195,0.0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,1.2,0,0,0,1,0,1,0,1,0
914,68,144,193,3.4,1,0,0,0,0,1,0,1,0
915,57,130,131,1.2,1,0,0,0,0,1,0,1,0
916,57,130,236,0.0,0,1,0,0,1,0,0,1,0
917,38,138,175,0.0,0,0,1,0,0,1,0,0,1

In [25]:
from sklearn.decomposition import PCA

pca = PCA(0.80)
X_pca = pca.fit_transform(X)
X_pca

array([[ 9.04280380e+01],
       [-1.82737270e+01],
       [ 8.42784006e+01],
       [ 1.53419256e+01],
       [-3.49431419e+00],
       [ 1.40075463e+02],
       [ 3.82229051e+01],
       [ 8.80222739e+00],
       [ 8.46712049e+00],
       [ 8.50140231e+01],
       [ 1.22929073e+01],
       [-3.47659570e+01],
       [ 5.10149332e+00],
       [ 3.53632869e+01],
       [ 1.19887784e+01],
       [ 7.39669308e+01],
       [-3.06592882e+00],
       [ 2.07071857e+00],
       [ 4.85687876e+01],
       [ 6.81150514e+01],
       [ 2.37152781e+01],
       [-1.49359393e+01],
       [ 2.09162833e+00],
       [ 8.95716058e+01],
       [ 1.62660381e+01],
       [ 1.03000014e+01],
       [ 6.10459058e+01],
       [ 8.49797005e+01],
       [ 2.68815501e+02],
       [-1.09062870e+01],
       [ 3.19364614e+02],
       [-3.18562343e+01],
       [ 2.50615360e+01],
       [-2.67342563e+01],
       [-1.24002733e+01],
       [ 5.52372138e+01],
       [ 1.07218625e+02],
       [ 5.09024988e+01],
       [-2.19657939e+01],
       [ 2.85496991e+01],
       [ 3.15011402e+01],
       [ 9.51370597e+01],
       [ 6.56491861e+01],
       [ 6.03346366e+01],
       [-2.39271226e+01],
       [ 1.19090494e+02],
       [ 2.41132364e+01],
       [ 1.73597287e+01],
       [ 1.40959419e+02],
       [ 8.98919053e+01],
       [ 3.41803664e+01],
       [ 6.03636974e+00],
       [ 2.53992592e+01],
       [ 4.62542277e+01],
       [-1.88248071e+01],
       [-4.29205260e+00],
       [ 7.11536986e+01],
       [ 1.41180158e+01],
       [ 1.66473588e+02],
       [ 1.42827191e+02],
       [ 5.36593858e+01],
       [ 5.55863348e+01],
       [ 2.53981704e+01],
       [ 7.80290139e+01],
       [ 2.83768172e+00],
       [ 6.11088370e+01],
       [ 9.82455774e+01],
       [ 2.59795946e+01],
       [ 4.76886607e+01],
       [ 2.13546310e+02],
       [ 6.62928651e+01],
       [ 1.62337718e+01],
       [-1.70028058e+01],
       [ 1.90582152e+01],
       [ 6.93078721e+01],
       [-3.54226150e+01],
       [ 3.30060820e+02],
       [-3.15075079e+01],
       [-9.86348065e+01],
       [ 7.19268383e+00],
       [ 7.77804389e+01],
       [ 3.89719615e+01],
       [ 2.44253524e+01],
       [-2.30212873e+00],
       [ 1.44851857e+01],
       [-5.97583279e+01],
       [ 6.47531608e+01],
       [ 1.73369221e+01],
       [ 9.20510891e+01],
       [ 3.03147368e+01],
       [ 8.84475787e+00],
       [ 1.08256369e+02],
       [ 1.09951498e+01],
       [ 1.30704607e+02],
       [-1.70688242e+01],
       [ 6.41090445e+01],
       [ 8.45396025e+00],
       [-5.11867487e+01],
       [-1.14016683e+02],
       [ 7.01605133e+01],
       [ 7.60488339e+01],
       [-1.98179818e+01],
       [ 1.93584731e+02],
       [ 2.67042611e+02],
       [-1.29893914e+01],
       [ 6.12939739e+01],
       [ 5.50185931e+01],
       [ 1.56668253e+01],
       [-6.96249496e+01],
       [ 4.33222646e+01],
       [-1.08829284e+01],
       [ 5.64700389e+01],
       [ 7.73719461e+01],
       [ 9.84429448e+01],
       [ 8.19516696e+00],
       [ 4.67922692e+01],
       [ 8.30932423e+01],
       [ 1.39087935e+02],
       [-3.88563894e+01],
       [-4.24987895e+01],
       [ 4.92908882e+01],
       [ 7.30705861e+01],
       [ 4.08607657e+01],
       [ 1.94963576e+02],
       [ 3.11160318e+01],
       [ 4.69704525e+01],
       [-3.76724724e+01],
       [-3.61737301e+01],
       [ 3.09749615e+01],
       [ 2.90718575e+01],
       [ 9.35310191e+01],
       [ 2.86727621e+00],
       [ 1.89803454e+02],
       [ 3.14822249e+01],
       [ 9.50795726e+01],
       [ 6.59189890e+01],
       [ 1.60680778e+01],
       [ 4.20954976e+01],
       [-3.26654177e+01],
       [ 4.85859668e+01],
       [ 1.32671890e+02],
       [ 1.42335634e+02],
       [ 9.27207203e+01],
       [ 4.43289233e+01],
       [ 7.99491374e+01],
       [ 7.39119964e+01],
       [-9.21998631e-01],
       [ 5.00616645e+01],
       [-3.09820031e+01],
       [ 4.04077252e+02],
       [ 1.62748113e+01],
       [-4.03146755e+01],
       [ 7.62552859e+01],
       [ 7.09566288e+01],
       [ 9.20686671e+01],
       [ 1.43549533e+02],
       [-9.06430536e+00],
       [-1.36273048e+01],
       [ 9.12188622e+01],
       [-3.31786420e+00],
       [ 6.52750574e+01],
       [ 1.31564735e+01],
       [ 6.47262728e+01],
       [-2.92162138e+00],
       [ 2.63431063e+01],
       [ 7.33818185e+01],
       [ 3.23576117e+01],
       [ 3.93719948e+01],
       [ 2.32041485e+01],
       [-1.96995207e+01],
       [ 4.41762159e+01],
       [ 3.64376585e+01],
       [ 1.21315488e+02],
       [-1.16271586e+01],
       [ 6.73331189e+01],
       [ 8.94028402e+01],
       [ 1.73258885e+01],
       [ 8.82724652e+01],
       [-4.70537708e+00],
       [ 3.92134198e+01],
       [ 2.61654597e+01],
       [ 2.51746189e+01],
       [ 2.05307089e+02],
       [ 3.88609774e+01],
       [ 1.13661066e+02],
       [ 1.26445718e+01],
       [ 5.21120707e+01],
       [ 3.80775984e+01],
       [ 1.28988053e+02],
       [ 8.70226529e+01],
       [ 8.20809711e+01],
       [ 1.08872278e+01],
       [ 4.61952815e+01],
       [-6.68296657e+00],
       [-1.48219625e+01],
       [-5.38265577e+00],
       [ 9.80006177e+01],
       [ 6.95909763e+01],
       [ 4.69769143e+01],
       [ 1.09110347e+02],
       [ 4.98514441e+01],
       [ 3.10385684e+01],
       [-5.12113724e+01],
       [ 1.98150323e+01],
       [-1.48588756e+01],
       [ 1.65342214e+01],
       [ 1.09114708e+02],
       [ 5.79482775e+01],
       [-6.66192458e+01],
       [ 1.70620616e+01],
       [ 6.37691971e+01],
       [ 8.93464160e+01],
       [ 7.71236972e+01],
       [ 2.01354481e+01],
       [ 2.75568505e+01],
       [ 3.90470904e+01],
       [ 8.09100187e+01],
       [ 1.79753573e+01],
       [-2.67753826e+00],
       [ 6.45232292e+01],
       [ 2.32142895e+01],
       [ 1.04686133e+02],
       [-3.96975455e+00],
       [ 9.91324445e+01],
       [ 5.69603584e+01],
       [ 6.54366250e+01],
       [-4.01228503e+00],
       [-8.23655054e+01],
       [ 9.60679126e+01],
       [-2.57004484e+01],
       [ 1.16271276e+02],
       [ 8.22535888e+01],
       [ 7.60977998e+01],
       [ 5.09349976e+01],
       [ 1.10310846e+02],
       [ 1.10208221e+00],
       [ 1.37059908e+02],
       [ 9.63026256e+01],
       [ 1.56699949e+02],
       [-5.26900227e+00],
       [ 1.27385637e+02],
       [ 3.81887145e-01],
       [ 9.36554656e+01],
       [ 6.70584579e+01],
       [ 6.97158674e+01],
       [-2.80149220e+01],
       [ 3.79716650e+01],
       [ 7.60485848e+01],
       [ 2.02235550e+01],
       [ 1.42167711e+02],
       [ 2.92267661e+02],
       [ 6.10162964e+01],
       [ 9.29909281e+01],
       [ 7.22513512e+01],
       [ 4.93995869e+01],
       [ 7.49743045e+01],
       [ 1.95111212e+02],
       [-3.83399701e+01],
       [ 1.53110322e+00],
       [ 1.20984856e+02],
       [ 7.63814314e+01],
       [ 2.19771508e+01],
       [ 3.20371990e+01],
       [-7.28743051e+01],
       [-5.61204016e+00],
       [ 1.06660895e+02],
       [ 9.91511983e+01],
       [ 2.07536504e+01],
       [ 4.31453455e+01],
       [ 3.62066273e+01],
       [ 2.60471959e+01],
       [-1.10151801e+00],
       [ 2.32124759e+00],
       [ 2.09665835e+01],
       [ 9.70889294e+01],
       [ 1.49874298e+01],
       [-3.87258519e+01],
       [ 2.48671627e+01],
       [ 1.48979273e+02],
       [ 5.41460160e+01],
       [ 4.69206397e+01],
       [ 2.35414351e+01],
       [ 2.11772824e+01],
       [ 1.44769857e+02],
       [ 1.59397518e+02],
       [-9.16882803e+00],
       [-2.97063658e+01],
       [-1.80090789e+01],
       [ 1.09238490e+02],
       [-3.28667152e+01],
       [ 1.18503435e+01],
       [ 5.83786014e+01],
       [-1.68349634e+01],
       [-1.99162875e+02],
       [-1.99241215e+02],
       [-1.99304041e+02],
       [-1.98513234e+02],
       [-1.99183563e+02],
       [-1.99135661e+02],
       [-1.99101139e+02],
       [-1.98332371e+02],
       [-1.98640469e+02],
       [-1.98887592e+02],
       [-1.99048189e+02],
       [-1.99397668e+02],
       [-1.98957382e+02],
       [-1.99080747e+02],
       [-1.98799819e+02],
       [-1.99104517e+02],
       [-1.99447614e+02],
       [-1.98460154e+02],
       [-1.98945736e+02],
       [-1.98789048e+02],
       [-1.98907674e+02],
       [-1.99677233e+02],
       [-1.98708182e+02],
       [-1.99271934e+02],
       [-1.98648979e+02],
       [-1.98865725e+02],
       [-1.98659778e+02],
       [-1.98936433e+02],
       [-1.99409991e+02],
       [-1.99113130e+02],
       [-1.99136983e+02],
       [-1.99271293e+02],
       [-1.99150185e+02],
       [-1.99085282e+02],
       [-1.98937135e+02],
       [-1.99406565e+02],
       [-1.98858166e+02],
       [-1.99119475e+02],
       [-1.99088838e+02],
       [-1.99203711e+02],
       [-1.99307806e+02],
       [-1.98784562e+02],
       [-1.99050364e+02],
       [-1.98429752e+02],
       [-1.98530107e+02],
       [-1.98706336e+02],
       [-1.99503382e+02],
       [-1.99244614e+02],
       [-1.99241685e+02],
       [-1.99217051e+02],
       [-1.98793083e+02],
       [-1.98960268e+02],
       [-1.98844921e+02],
       [-1.99025931e+02],
       [-1.99023341e+02],
       [-1.98809055e+02],
       [-1.99012051e+02],
       [-1.98976684e+02],
       [-1.98542916e+02],
       [-1.99001760e+02],
       [-1.98841839e+02],
       [-1.98992295e+02],
       [-1.98652528e+02],
       [-1.99006187e+02],
       [-1.98975595e+02],
       [-1.98940738e+02],
       [-1.99239250e+02],
       [-1.98348460e+02],
       [-1.98225865e+02],
       [-1.98386909e+02],
       [-1.99001307e+02],
       [-1.99000784e+02],
       [-1.97661845e+02],
       [-1.98515185e+02],
       [-1.98836056e+02],
       [-1.98657746e+02],
       [-1.98531601e+02],
       [-1.98770147e+02],
       [-1.98556224e+02],
       [-1.97918051e+02],
       [-1.98762350e+02],
       [-1.98954611e+02],
       [-1.98436598e+02],
       [-1.98312546e+02],
       [-1.98373017e+02],
       [-1.98764449e+02],
       [-1.98951403e+02],
       [-1.98332322e+02],
       [-1.99039511e+02],
       [-1.98981318e+02],
       [-1.99027467e+02],
       [-1.98984892e+02],
       [-1.98516168e+02],
       [-1.98447915e+02],
       [-1.98800799e+02],
       [-1.98642314e+02],
       [-1.98340284e+02],
       [-1.98609482e+02],
       [-1.99203915e+02],
       [-1.98866954e+02],
       [-1.98327042e+02],
       [-1.98306960e+02],
       [-1.98590476e+02],
       [-1.98697694e+02],
       [-1.98140759e+02],
       [-1.98178059e+02],
       [-1.97638680e+02],
       [-1.98248997e+02],
       [-1.98784875e+02],
       [-1.98636352e+02],
       [-1.98704403e+02],
       [-1.99102306e+02],
       [-1.98828351e+02],
       [-1.98658730e+02],
       [-1.99138497e+02],
       [-1.99201324e+02],
       [-1.98274589e+02],
       [-1.98523393e+02],
       [-1.97931797e+02],
       [-1.98913119e+02],
       [-1.98914071e+02],
       [-1.98808024e+02],
       [-1.98468020e+02],
       [ 6.12444555e+01],
       [ 1.02338148e+01],
       [ 1.91359888e+01],
       [ 2.93516447e+01],
       [ 1.37022060e+01],
       [-1.99082452e+02],
       [ 3.74064845e+01],
       [-1.97980521e+02],
       [-1.99031975e+02],
       [ 6.86184042e+01],
       [-3.29256375e+01],
       [-1.98674654e+02],
       [-1.99225702e+02],
       [-1.98829737e+02],
       [-1.98868709e+02],
       [ 2.09086048e+01],
       [-2.12139165e+01],
       [ 3.68618463e+01],
       [-1.98952750e+02],
       [-1.98472224e+02],
       [-1.99086731e+02],
       [-1.99065987e+02],
       [-1.98882846e+02],
       [-1.98832063e+02],
       [-1.98825506e+02],
       [-1.98932126e+02],
       [-1.98819364e+02],
       [-1.28935847e+01],
       [-9.90194325e+01],
       [ 2.92458326e+01],
       [-1.98808810e+02],
       [-2.81341305e+01],
       [ 3.15999166e+01],
       [-2.01096554e+02],
       [-1.98931851e+02],
       [-1.98645536e+02],
       [ 8.22643805e+01],
       [-1.99032498e+02],
       [ 4.22520440e+00],
       [-1.98428200e+02],
       [-1.99041824e+02],
       [-1.98782285e+02],
       [-1.98796059e+02],
       [-1.99158160e+02],
       [ 7.82724161e+01],
       [-1.98778134e+02],
       [ 3.39658760e+01],
       [-1.98819296e+02],
       [-1.98831453e+02],
       [ 4.13150638e+01],
       [-1.98991347e+02],
       [-1.98845005e+02],
       [-4.55167132e+01],
       [ 2.50286697e+01],
       [-1.98871448e+02],
       [-1.98782620e+02],
       [-1.98379610e+02],
       [ 1.17275940e+02],
       [-1.98855827e+02],
       [-1.98008652e+02],
       [ 1.92097896e+01],
       [-1.99216717e+02],
       [ 1.12108198e+02],
       [-1.98122590e+02],
       [-1.98910415e+02],
       [-1.98755432e+02],
       [ 7.12458116e+01],
       [-1.99016946e+02],
       [-1.98829088e+02],
       [ 1.82352308e+01],
       [ 1.47930844e+01],
       [ 1.53018879e+01],
       [ 5.32294623e+01],
       [ 2.12557144e+01],
       [ 1.48280153e+01],
       [ 4.68141594e+00],
       [-1.98766400e+02],
       [ 1.40275315e+02],
       [ 1.73122114e+01],
       [ 7.72688157e+01],
       [ 2.59106888e+02],
       [ 4.23697301e+01],
       [ 1.85537545e+02],
       [ 9.81570043e+01],
       [ 4.91606769e+01],
       [ 1.09059517e+02],
       [ 9.20452489e+00],
       [ 2.82081411e+01],
       [ 1.15778411e+01],
       [ 4.62424293e+01],
       [ 2.60824054e+01],
       [ 4.08403794e+01],
       [-1.99090818e+02],
       [-1.23046410e+00],
       [-3.78948761e+00],
       [ 6.85934292e+01],
       [-3.78055608e+01],
       [ 5.87616885e+01],
       [-1.98858623e+02],
       [-1.98881371e+02],
       [-3.60988212e+00],
       [ 3.64074107e+01],
       [-1.99250297e+02],
       [ 1.05463912e+02],
       [ 2.40666045e+01],
       [ 8.29064666e+01],
       [ 1.50404202e+02],
       [-3.89854624e+01],
       [-3.84964436e+01],
       [ 3.72210866e+01],
       [ 1.13287749e+02],
       [ 8.42394121e+01],
       [-5.67764438e+01],
       [ 1.22316582e+01],
       [ 1.92353712e+01],
       [ 1.07279599e+02],
       [-1.30983411e+01],
       [ 5.27192940e+01],
       [ 2.30211588e+01],
       [-1.98825423e+02],
       [-1.98821431e+02],
       [ 5.93304696e+01],
       [ 3.15338225e+00],
       [-2.22141025e+00],
       [ 5.22778620e+00],
       [-8.64651252e+01],
       [ 7.52813606e+01],
       [-6.27395535e+00],
       [ 9.92554655e+01],
       [ 7.32242767e+01],
       [ 2.12338530e+01],
       [ 1.30715297e+00],
       [ 6.17284627e+01],
       [-1.77993574e+01],
       [ 6.18708843e+01],
       [ 2.09091282e+01],
       [ 2.22562392e+01],
       [ 1.72501584e+01],
       [-2.33944898e+01],
       [ 2.04676699e+01],
       [ 1.11486863e+02],
       [ 9.25903484e+00],
       [ 3.32378953e+01],
       [ 7.41290906e+01],
       [ 4.20610719e+00],
       [-1.68069548e+01],
       [ 7.52741546e+01],
       [ 5.23205101e+00],
       [ 7.13614821e+01],
       [ 9.32717353e+01],
       [-2.73835277e+01],
       [ 2.20092806e+01],
       [ 8.99173057e+01],
       [ 1.86336910e+01],
       [ 2.40979659e+01],
       [-8.87772356e+01],
       [-5.57695086e+00],
       [-7.54535256e+01],
       [ 1.12389804e+01],
       [ 8.32442580e+01],
       [-2.87478996e+01],
       [ 1.70295758e+02],
       [-2.54092188e+01],
       [ 9.02768443e+01],
       [-4.67955152e+01],
       [ 9.37730228e+00],
       [ 1.68863252e+01],
       [ 7.22280649e+01],
       [ 4.52560673e+01],
       [ 8.69905659e+01],
       [ 4.40486207e+01],
       [ 4.10753090e+01],
       [ 2.02188658e+01],
       [ 3.81575553e+01],
       [-3.38074129e+01],
       [ 1.35919709e+01],
       [ 8.91322904e+01],
       [ 5.90597568e+01],
       [ 5.76367092e+01],
       [-1.28935847e+01],
       [ 6.49757660e+01],
       [-1.37987054e+01],
       [ 2.69651461e+01],
       [ 4.13653196e+00],
       [ 8.12732371e+00],
       [ 8.52560318e+01],
       [ 1.37894610e+02],
       [ 1.11407128e+02],
       [ 5.50990176e+01],
       [ 5.88884708e+01],
       [ 5.56045809e+01],
       [ 1.01388409e+02],
       [-2.84161282e+01],
       [ 1.11267848e+02],
       [ 1.34076562e+02],
       [-5.98123449e+01],
       [ 2.39999155e+01],
       [ 1.86261246e+02],
       [ 5.49026230e+01],
       [ 1.22999617e+02],
       [ 3.64717125e+02],
       [ 6.20133041e+01],
       [ 6.40238334e+01],
       [ 6.98035454e+01],
       [-2.21077113e+01],
       [ 5.71266157e+01],
       [ 3.97541844e+01],
       [ 9.42619694e+01],
       [ 2.08394103e+02],
       [ 3.51932656e+01],
       [ 2.73672085e+01],
       [ 3.64048269e+01],
       [ 3.51609270e+01],
       [ 1.04075794e+02],
       [-5.02905678e+01],
       [ 1.12373780e+02],
       [ 4.33737451e+00],
       [ 1.17193054e+01],
       [ 4.45197882e-01],
       [ 2.98664887e+01],
       [ 4.61947225e+01],
       [ 1.03961135e+02],
       [ 4.89447613e+00],
       [ 8.91744927e+01],
       [ 7.61906466e+01],
       [ 4.43521337e+01],
       [ 9.59870542e+01],
       [ 3.08003312e+01],
       [ 6.56528670e+01],
       [ 3.00883238e+01],
       [ 2.95769667e+01],
       [ 1.61167598e+01],
       [ 1.27791252e+02],
       [ 1.43160030e+00],
       [ 5.71921178e+01],
       [ 8.27098487e+00],
       [ 7.46253869e+01],
       [-1.87437758e+01],
       [ 2.30582167e+01],
       [ 2.46498700e+01],
       [ 9.98232779e+00],
       [ 3.42300079e+01],
       [-2.28788814e+00],
       [ 1.90397894e+01],
       [ 1.22944433e+01],
       [-5.00054619e+01],
       [-2.11470754e+00],
       [ 4.75728720e+01],
       [ 2.64105420e+01],
       [ 1.16335700e+02],
       [ 6.13491631e+00],
       [ 2.18200015e+02],
       [-3.74152187e+00],
       [ 3.52231087e+01],
       [-1.17538912e+00],
       [-3.27561815e+01],
       [-2.10650427e+01],
       [ 5.08757137e+01],
       [ 8.18982185e+01],
       [-7.25058244e+01],
       [ 1.06159675e+02],
       [ 2.70557387e+01],
       [ 4.14499442e+01],
       [ 3.43375238e+01],
       [ 7.74648977e+01],
       [ 6.23419438e+01],
       [ 1.20205971e+02],
       [ 4.30186232e+01],
       [ 4.38174368e+01],
       [ 6.09103805e+01],
       [ 1.54926154e+02],
       [ 4.64707292e+01],
       [-1.84928364e+00],
       [ 2.36230878e+01],
       [ 1.10416558e+02],
       [ 8.77059173e+00],
       [-3.52659518e-01],
       [ 1.00761948e+01],
       [ 3.69563163e+01],
       [ 1.93981613e+01],
       [-8.65502729e-01],
       [ 7.14585772e+01],
       [ 1.52583449e+01],
       [ 1.77791549e+00],
       [ 4.55603132e+01],
       [ 9.05227142e+00],
       [ 7.19431071e+01],
       [ 1.07172564e+02],
       [ 4.45295610e+01],
       [ 2.22849145e+01],
       [ 1.31072948e+02],
       [ 6.70361728e+01],
       [ 6.80085850e+00],
       [ 1.30803809e+01],
       [ 7.58457903e+01],
       [ 1.02859845e+02],
       [ 3.45880589e+01],
       [ 1.14227545e+02],
       [ 4.50056932e+01],
       [-5.81375709e+01],
       [ 3.78641930e+01],
       [ 7.01829487e+01],
       [ 9.07257316e+01],
       [ 5.50694076e+01],
       [ 7.50830753e+01],
       [ 2.26481848e+01],
       [ 5.94461436e+01],
       [-2.17078748e+01],
       [-3.90789352e+01],
       [ 1.29000740e+02],
       [ 3.59038372e+01],
       [ 1.06576971e+02],
       [ 1.05223527e+02],
       [ 9.60597047e+01],
       [ 7.22531601e+01],
       [ 5.00348544e+01],
       [ 9.03510086e+01],
       [ 2.74035554e+01],
       [ 8.41215303e+01],
       [-1.09778070e+01],
       [ 8.69978134e+01],
       [ 7.55006485e+01],
       [ 1.61561553e+02],
       [ 7.40521184e+01],
       [ 2.68143795e+00],
       [ 6.78999671e+01],
       [-2.72275426e+00],
       [ 2.24129993e+00],
       [ 3.08712048e+01],
       [ 6.96824014e+01],
       [ 1.27370170e+01],
       [ 2.74224169e+01],
       [ 4.68877483e+01],
       [ 3.34994934e+01],
       [-2.15640088e+01],
       [ 7.84200853e+01],
       [ 5.00400112e+01],
       [ 1.11081577e+01],
       [ 8.16256790e+00],
       [ 1.33325063e+01],
       [ 7.22393158e+01],
       [ 3.43555944e+01],
       [ 1.40891808e+01],
       [ 8.52263023e+01],
       [ 8.30237250e+01],
       [ 3.08484832e+01],
       [-3.20758911e+01],
       [ 2.51532503e+01],
       [ 6.89336167e+01],
       [ 5.09355210e+01],
       [ 2.00094320e+01],
       [ 6.77569455e+01],
       [ 1.04053743e+02],

In [26]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_train, y_train)
model_rf.score(X_test, y_test)

0.8858695652173914